<<<<<<< HEAD
<div class='title-main'><h3>List of cohorts</h3></div>
<br>
=======
<div class='title-main'><h2>List of cohorts</h2></div>
>>>>>>> 3b2de0ca8d9e27abf1c05854886912abe5089288
<% @cohorts.each do |c| %>
<div class='main-list'>
	<div><a href="/cohorts/<%= c.id %>">Name of cohort: <%= c.name %></a></div>
	<div>Course: <a href="/courses/<%= c.course.id %>"> <%= c.course.name %></a></div>
	<div>Instructor: <%= c.instructor.lname %> (<%= c.instructor.fname %>)</div>
</div>

<% end %>