<div class='title-main'><h2>List of cohorts</h2></div>
<% @cohorts.each do |c| %>
<div class='main-list'>
	<div><a href="/cohorts/<%= c.id %>">Name of cohort: <%= c.name %></a></div>
	<div>Course: <%= c.course.name %></div>
	<div>Instructor: <%= c.instructor.lname %> (<%= c.instructor.fname %>)</div>
</div>

<% end %>