<h1 class='title-main'>Cohort:</h1>
<div class='main-list'>
	<div>Name of Cohort: <%= @cohort.name %></div>
	<div>Name of Instructor: <%= @cohort.instructor.lname %></div>
	<div>Name of Course: <%= @cohort.course.name %></div>
	<div>Date of Creation: <%= @cohort.created_at.strftime("%Y-%m-%d") %></div>
	<div>
		<h4 class="secondary-list">Current Students</h4>
			<% @cohort.students.each_with_index do |c, index| %>
			<div><%= index + 1 %> <%= c.lname %> (<%= c.fname %>)</div>
			<% end %>
	</div>
</div>

<% if current_instructor.lname == @cohort.instructor.lname %>
	<%= link_to "Edit", edit_cohort_path %>
	<br>
	<%= link_to "Garding Cohort", new_cohort_exam_path(@cohort.id) %>
	<% end %>