<h1>List of all students</h1>

<% @students.each do |s| %>
<div class='user-list'>
	<div><%= s.fname %></div>
	<div><%= s.lname %></div>
	<div><%= s.email %></div>
		<% if s.cohort_id != nil %>
	<div><%= s.cohort.name %></div>	
		<% else %>
		<div><a href="/student/<%= s.id %>"><button>Join cohort</button></a></div>	
		<% end %>
</div>	

	
<% end %>


