<h1>List of all students</h1>

<% @students.each do |s| %>
<div class='user-list'>
	<div><%= s.fname %></div>
	<div><%= s.lname %></div>
	<div><%= s.email %></div>
		<% if s.cohorts != nil %>
			<% s.cohorts.each_with_index do |c,index| %>
			<% array = s.cohorts.ids %>
			<div><a href="/cohorts/<%= array[index] %>"><%= c.name %></a></div>
			<% end %>	
		<% else %>
			<div><a href="/student/<%= s.id %>"><button>Join cohort</button></a></div>	
		<% end %>
</div>	

	
<% end %>


