<h1 class='title-main'>Student info:</h1>
<div class='secondary-title'>Current Student: <%= @student.fname %></div>

 	<hr>
<% @student_cohorts.each_with_index do |loop, index|  %>
	<div class='main-list'>Current Cohorts: <%= loop.name %></div>
		<% all_cohorts = Cohort.find(@student.cohorts.ids) %>
		<div class='main-list'>Course: <%= all_cohorts[index].course.name %></div>
		<% current_cohort =  Cohort.where(course_id: all_cohorts[index].course.id ) %>
		<% current_exam = Exam.where(cohort_id: current_cohort.ids)  %>
		<% current_grade = current_exam.where(student_id: @student.id) %>
		<% e =  Exam.where(cohort_id: loop.id) %>
		<% e.each do |w| %>
	<div class='main-list'>Grade for this cohort: 
		
			<%= w.grade %>
		<% end %>	
	
			
	</div>

	<%= form_for @student, url: {action: "remove_cohort", controller: 'students'}, html: {method: 'delete'} do |f| %>
	<%= hidden_field_tag :cohort_id, @student.cohorts.ids %>
	<%= f.submit %>

	<% end %>
<% end %>


<hr>
<hr>


<% @cohorts.each do |c| %>

	<div class='cohorts'>
    <div class='main-list'>Cohort name: <%= c.name  %></div>
    <div class='main-list'>Course name: <%= c.course.name %></div>
    <div class='main-list'>Instructor: <%=c.instructor.lname %></div>
    <div class='main-list'>Dates: <%=c.starting_date %> - <%= c.closing_date %></div>
    <div class='main-list'>Hours: <%= c.starting_hour.hour %> - <%= c.closing_hour.hour %></div>

	<%= form_for @student, url: { action: 'assign', controller: 'students' }, html: {method: 'post'} do |r| %>
    <%= hidden_field_tag "id", @student.id %>    
    <%= hidden_field_tag "cohortid", c.id %>
<%= r.submit "Add cohort", :class => 'btn-signIn' %>
	</div>
	
<% end %>

<% end %>