<h1 class='title-main'>Hello  
 <%= @student.fname %>!</h1> 

 <div class='current-student-cohorts'>  
	<% @student_cohorts.each_with_index do |loop, index|  %>

		<div>
				<p><span>Cohort:</span><a href='/cohorts/<%= loop.id %>'> <%= loop.name %></a></p>
			<% all_cohorts = Cohort.find(@student.cohorts.ids) %>
				<p><span>Course:</span><a href='/courses/<%= all_cohorts[index].course.id %>'> <%= all_cohorts[index].course.name %></a></p>
				<p><span>Instructor: </span><a href='/instructors'><%=loop.instructor.lname %></a></p>

			<% current_cohort =  Cohort.where(course_id: all_cohorts[index].course.id ) %>
			<% student_grade = @student.exams.where(cohort_id: loop.id ) %>
			<% student_grade.each do |g| %>	
				<p>Grade for this cohort: <%= g.grade %></p>
			<% end %>


			<%= form_for @student, url: {action: "remove_cohort", controller: 'students'}, html: {method: 'delete'} do |f| %>
			<%= hidden_field_tag :cohort_id, @student.cohorts.ids %>
			<div class='remove-cohort-btn'>
				<%= f.submit "Remove Cohort", :class => 'btn-signIn' %>
			</div>
		</div>
	
		<% end %>
	<% end %>
</div>


<hr>


<% @cohorts.each do |c| %>

	<div class='cohorts'>
    <div class='main-list'>Cohort name: <%= c.name  %></div>
    <div class='main-list'>Course name: <%= c.course.name %></div>
    <div class='main-list'>Instructor: <%=c.instructor.lname %></div>
    <div class='main-list'>Dates: <%=c.starting_date %> - <%= c.closing_date %></div>
    <div class='main-list'>Hours: <%= c.starting_hour.hour %> - <%= c.closing_hour.hour %></div>

	<%= form_for @student, url: { action: 'assign', controller: 'students' }, html: {method: 'post'} do |r| %>
    <%= hidden_field_tag "id", @student.id %>    
    <%= hidden_field_tag "cohortid", c.id %>
<%= r.submit "Add cohort", :class => 'btn-signIn' %>
	</div>
	
<% end %>

<% end %>