<h1>Student info:</h1>
<%= @student.fname %>

<% @student_cohorts.each do |loop|  %>
	<%= loop.name %>
<% end %>


<% @cohorts.each do |c| %>
    <%= c.name  %>
    <hr>
	<%= form_for @student, url: { action: 'assign', controller: 'students' }, html: {method: 'post'} do |r| %>
    <%= hidden_field_tag "id", @student.id %>    
    <%= hidden_field_tag "cohortid", c.id %>
<%= r.submit "Add cohort" %>

<% end %>

<% end %>