<h1 class='title-main'><%= @article.title %></h1>
<h4 class='secondary-title'> <i><h5>Author</h5></i> <%= @article.instructor.fname %> <%= @article.instructor.lname %></h4>

<div class="main-list"><%= raw(@article.content) %></div>

<% if current_instructor %>
	<div class='elements'><%= link_to "Edit",  edit_article_path, class: 'btn btn-default' %></div>
<% end %>

<div class='comment-field'>
	<% @article.comments.each do |c| %>
	<div class="main-list">
		<div>Comment: <%= c.content %></div>
		<% if instructor_signed_in? %>
			<div><%= c.instructor.lname %></div>
		<% end %>
		<% if student_signed_in? %>
			<div><%= c.student.fname %></div>
	<% end %>
	</div>
	<% end %>
</div>

<h2 class='title-main'>Comments: </h2>

<%= form_with(model: [@article, @article.comments.build], local: true)   do |f| %>
<div class='main-list '>
	<div><%= f.text_field :content %></div>
	<br>
	<div><%= f.submit class: 'btn btn-default' %></div>
</div>
<% end %> 