<h1>Instructors#show</h1>
<p>Find me in app/views/instructors/show.html.erb</p>

<%= @instructor.fname %>
<%= @instructor.lname %>
<%= @instructor.email %>


<h2>Create a new cohort</h2>

<%= form_for @cohort do |f| %>
<div>Name: <%= f.text_field :name %></div>
<div>Options for course: <%= f.select :course_id, options_from_collection_for_select(Course.all, "id", "name") %></div>
<%= f.submit %>
<% end %>
