<h1 class='title-main'>Profile of <%= @instructor.fname %> <%= @instructor.lname %></h1>



<div class='title-main'><%= @instructor.email %></div>

<% @instructor.cohorts.each_with_index do |c, index| %>
<div class='title-main'>Cohorts: <%= index + 1%> <%=c.name %></div>
<% end %>
<div>
	<% @instructor.articles.each do |a| %>
	<div class='main-list'>Articles: <a href="/articles/<%=a.id %>"><%= a.title %></a></div>
	<% end %>
</div>


<% if current_instructor %>
	<h2 class='title-main'> Create a new cohort</h2>

	<%= form_for @cohort do |f| %>
	 <%#= f.cktext_area :name, rows: 10 %>
	<div class='main-list'>
		 <div class='elements'>Name:<%= f.text_field :name %></div>
		<div class='elements'>Options for course: <%= f.select :course_id, options_from_collection_for_select(Course.all, "id", "name") %></div>
		<div class='elements'><%= f.submit class: 'btn btn-default' %></div>
	</div>
	<% end %>

	<h2 class='title-main'>Create a new Article</h2>

	<%= form_for @article , url: {controller: "articles", action: "create"}, html: {method: 'post'} do |f| %>
	<div class='main-list'>
		<div>Category: <%= f.select :category, :collection => Article::SUBJECTS %></div>
		<div >Article's Title <%= f.text_field :title %></div>

		<div class='cktext-form'><%= f.cktext_area :content, rows: 10 %></div>
		<div class='elements'><%= f.submit class: 'btn btn-default' %></div>
	</div>
	<% end %>












<% end %>