<!DOCTYPE html>
<html>
  <head>
    <title>Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='welcome-body'>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <% if admin_signed_in? %>
    <li><%= link_to "Courses", courses_path, method: :get %></li>
    <li><%= link_to "New Course", new_course_path %></li>
    <li><%= link_to "Instructors", instructors_path %></li>
    <li><%= link_to "Students", students_path %></li>
    <li><%= link_to "Admin Sign Out", destroy_admin_session_path, method: :delete %></li>
  <% end %>

  <% if instructor_signed_in? %>
     <li><%= link_to "Courses", courses_path, method: :get %></li>
    <li><%= link_to "Instructors", instructors_path %></li>
    <li><%= link_to "Cohorts", cohorts_path %></li>
    <li><%= link_to "New Cohort", new_cohort_path %></li>
    <li><%= link_to "Students", students_path %></li>
    <li><%= link_to "Instructor Sign Out", destroy_instructor_session_path, method: :delete %></li>
  <% end %>

  <% if student_signed_in? %>
  <li><%= link_to "All Cohorts", cohorts_path %></li>
  <li><%= link_to "All Students", students_path %></li>
  <li><a href="/student/<%=current_student.id %>">Student: <%=current_student.fname %></a></li>
  <li><%= link_to "Students", students_path %></li>
  <li><%= link_to "Student Sign Out", destroy_student_session_path, method: :delete %></li>
  <% end %>

<% if !admin_signed_in? && !instructor_signed_in? && !student_signed_in? %>
  	<li><%= link_to "Admin", new_admin_registration_path %></li>
  	<li><%= link_to "Instructor", new_instructor_registration_path %></li>
  	<li><%= link_to "Student", new_student_registration_path %></li>
    <li><%= link_to "Courses", courses_path, method: :get %></li>
    <!-- this is where the dropdown menu starts -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Articles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">History</a>
          <a class="dropdown-item" href="#">Geography</a>
          <a class="dropdown-item" href="#">Biology</a>
          <a class="dropdown-item" href="#">Chemestry</a>
          <a class="dropdown-item" href="#">Physics</a>
          <a class="dropdown-item" href="#">Mathematics</a>
          <a class="dropdown-item" href="#">Literature</a>
        </div>
    </li>
  <% end %>
</nav>








<h1 class='title-main'>Welcome to my school!!!!!</h1>

<div class='container'>
  <div class='welcome-elements subgrid'>
    <a href="/courses"><div class='welcome-images a'></div></a>
    <a href='/instructors'><div class='welcome-images b'></div></a>
    <a href='/students'><div class='welcome-images c'></div></a>
    <div class='welcome-images d'></div>
    <div class='welcome-images e'></div>
    <div class='welcome-images f'></div>
  </div>
  <div class='welcome-elements bigger-image'></div>
</div>

</body>
</html>