<!DOCTYPE html>
<html>
  <head>
    <title>Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='welcome-body'>



<nav class='navbar'>
	<li><%= link_to "Admin", new_admin_registration_path %></li>
	<li><%= link_to "Instructor", new_instructor_registration_path %></li>
	<li><%= link_to "Student", new_student_registration_path %></li>
  <li><%= link_to "Courses", courses_path, method: :get %></li>
</nav>
<h1 class='title-main'>Welcome to my school!!!!!</h1>
<div class='container'>
  <div class='welcome-elements subgrid'>
    <a href="/courses"><div class='welcome-images a'></div></a>
    <a href='/instructors'><div class='welcome-images b'></div></a>
    <a href='/students'><div class='welcome-images c'></div></a>
    <div class='welcome-images d'></div>
    <div class='welcome-images e'></div>
    <div class='welcome-images f'></div>
  </div>
  <div class='welcome-elements bigger-image'></div>
</div>

</body>
</html>