<h1 class='title-main'>Course: </h1>


<div class='main-list'>
	<div><%= @course.name %></div>
	<div><%= @course.total %></div>
</div>

<h3 class='secondary-title'>Existing cohorts with this course: </h3>

	<% @course.cohorts.each do |c| %>
	<div class='main-list'>
		<div><a href="/cohorts/<%= c.id %>">Cohort Name: <%= c.name %></a></div>
		<div><%= c.instructor.lname %> (<%=c.instructor.fname %>)</div>
	</div>
	<% end %>


<% if current_instructor %>
<%= button_to "Update Course", edit_course_path(@course), method: :get %>
<% end %>