
<%= javascript_include_tag "exams" %>

<div class='title-main'>Exam Results for:</div>
<div class='main-list'>Cohort name:<a href='/cohorts/<%=@cohort.id%>'> <%= @cohort.name %></a></div>
<div class='main-list'>Course:<a href='/courses/<%= @cohort.course.id %>'> <%= @cohort.course.name %></a></div>
<div class='main-list'>Instructor: <%= current_instructor.lname %></div>
<div class='main-list'>Current Students: 
	<% @cohort.students.each_with_index do |c, index| %>
		<%= index + 1 %>. <%= c.fname %> <%= c.lname%> 
	<% end %>
</div>

<div class='grading-container'>
	<div class='to-be-graded'>

	<h3>List of students to be graded</h3>

<% @cohort.students.each_with_index do |c, index| %>
	<div class='grade-form'>
	
		 <%=index + 1 %>. <%= c.fname %> 
		<%= c.lname %>
		<%= form_for [@cohort, @exam] do |f| %>
			<%= hidden_field_tag :student_id, c.id %>

			Grade: <%= f.select :grade, collection_select: @grades  %>

			<%= f.submit "Grade", :class => 'btn-signIn' %>
		<% end %>
	
	</div>
<% end %>
	</div>
	<div class='already-graded'>
		<h3>Graded Students</h3>
		<% @cohort.students.each_with_index do |c, index| %>
			<% e = Exam.where(cohort_id: @cohort.id) && Exam.where(student_id: c.id) %>
			<% e.each do |g| %>
				<div class='graded-form'>
					<%= c.fname %>
					 <%= c.lname %>
					 <span class='graded-student-grade'><%= g.grade %> </span>
					 <%= link_to "edit", edit_cohort_exam_path(@cohort, g.id) %>
				</div>
			<% end %>
		<% end %>
		
	</div>

</div>