<!DOCTYPE html>
<html>
  <head>
    <title>Panel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="btn-group pull-right right-nav">
       <div class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
         <span class='caret'></span>
         <span> Role</span>
       </div>
   <ul class='dropdown-menu' role="menu">
        <li style="font-size: 18px"><%= link_to "Sign in as Instructor", new_instructor_session_path %></li>
        <li style="font-size: 18px"><%= link_to "Sign in as Student", new_student_session_path %></li>
   </ul>     
   </div>



     <li> <%= link_to 'Home', root_path %></li>
     <li> <%= link_to 'Contact', contact_path %></li>

      <% if admin_signed_in? %>
        <li><%= link_to "Sign Out as Admin" , destroy_admin_session_path, method: :delete %></li>
        <li><%= link_to "create a new course", new_course_path %></li>
        <li><%= link_to "Courses", courses_path %></li>
        <li class='current-user'><%= current_admin.email %></li>
      <% end %> 



      <% if !instructor_signed_in? && !admin_signed_in? && !student_signed_in?  %>

           
        <li><%= link_to "All courses", courses_path %></li>
        <li><%= link_to "All instructors", instructors_path %></li>
        <% end %>


      <% if instructor_signed_in? %> 
        <li><%= link_to "Sign Out as Instructor" , destroy_instructor_session_path, method: :delete %></li>
        <li><%= link_to "my Instructor Profile", instructor_path(current_instructor) %></li>
        <li><%= link_to 'articles', articles_path %></li>
      
        <li class='current-user'>Instructor: <%=current_instructor.fname %></li>
        <% end %>
        
        
        <% if student_signed_in? %>
        <li class='current-user'><a href="/student/<%=current_student.id %>">Student: <%=current_student.fname %></a></li>
        <li><%= link_to "Courses", courses_path %></li>
          <li><%= link_to "Sign out as Student", destroy_student_session_path, method: :delete %> </li>
        <% end %>
    </nav>



    <%= yield %>


    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </body>
</html>
